
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>A new task has been created</h1>
    <p>The task has been successfully created with the following information:</p>
        <ul>
            <li> Name:
        </ul>
</body>
</html>
